* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding-top: 2rem;
    text-align: center;
}

.cuadro {
    background-color: greenyellow;
    width: 500px;
    height: 300px;
    margin: 5rem auto;
    cursor: pointer;
}